<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sbhs.belltimes"
        versionCode="10" 
        version   = "1.2">

    <!-- versionCode is optional and Android only -->

    <name>Belltimes</name>

    <description>
        A minimalistic belltime countdown for Sydney Boys High School, 2013
        SBHS Belltimes also available on www.sydneyboyshigh.asia 
    </description>
    
    <preference name="permissions" value="none"/>
    <preference name="exit-on-suspend" value="true" />


</widget>
