<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sbhs.belltimes"
        versionCode="10" 
        version   = "2.6.1">

    <!-- versionCode is optional and Android only -->

    <name>Belltimes</name>

    <description>
        A minimalistic belltime countdown for Sydney Boys High School, 2013
        SBHS Belltimes also available on www.sydneyboyshigh.asia 
    </description>
    
    <preference name="permissions" value="none"/>
    <preference name="exit-on-suspend" value="true" />
    <preference name="splash-screen-duration" value="2250" />
    <gap:splash src="splash2.jpg" gap:platform="android" />
    <preference name="phonegap-version" value="2.7.0" />
    <icon src="Icons/icon.png" />
    
    <!-- <access origin="*" browserOnly="true" /> -->
    
    <gap:plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />
    
    <gap:plugin name="FacebookConnect">
        <param name="APP_ID" value="266559516821504" />
    </gap:plugin>
 
</widget>
